[build]
  command = "npm run build"
  publish = "build"

[build.environment]
  NODE_VERSION = "16.20.0"
  NPM_VERSION = "8.19.4"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
  force = false

[[redirects]]
  from = "https://luckydraw.me/*"
  to = "https://www.luckydraw.me/:splat"
  status = 301
  force = true
