.result-section {
  text-align: center;
}
/* 
.draw-block {
  padding-top: 32px;
  padding-bottom: 32px;
} */

.draw-block {
  text-align: center;
}

.draw-section {
  font-size: 40px;
  padding-bottom: 40px;
  padding-top: 40px;
}

.contribute-button {
  margin-left: 18px,
}
